* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.mrg-left {
  margin-left: .5em;
}

.mrg-right {
  margin-right: .5em;
}

.mrg-bottom {
  margin-bottom: 1em;
}

.mrg-top {
  margin-top: .5em;
}

.lg-mrg-top {
  margin-top: 3em;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.2em;
}

body {
  margin: 0.5em;
}

/*----- TITLES -----*/
.title {
  display: flex;
  align-items: center;
}

.title .fa {
  font-size: 2em;
  margin-left: auto;
}

/*----- TEAM -----*/
.count {
  text-align: center;
  color: #fff;
  font-size: 3em;
  padding: .5em;
  background-color: #3272BD;
}

.alert {
  text-align: center;
  color: #fff;
  font-size: 2em;
  padding: .5em;
  background-color: #000;
  font-style: italic;
}

/*----- FILTERS -----*/
.color-filter {
  display: flex;
  font-size: 1.6em;
  width: 100%;
}

.color-filter > div {
  width: 33.33%;
  text-align: center;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 900;
  position: relative;
}

/*----- CHARACTERS -----*/
.character-wrap {
  display: flex;
  font-weight: 900;
  margin-bottom: 1em;
}

.cost-wrap {
  display: flex;
}

.yellow {
  background-color: #F0BC11;
}

.yellow:hover {
  background-color: #E18A01;
}

.blue {
  background-color: #3272BD;
}

.blue:hover {
  background-color: #09328C;
}

.red {
  background-color: #BB091F;
}

.red:hover {
  background-color: #890003;
}

.cost {
  height: 52px;
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  color: #fff;
  cursor: pointer;
}

.selected {
  border: 2px solid #000;
}

.disabled {
  opacity: 0.5;
}

.character {
  background-color: #EDECEC;
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  color: #474747;
}

.tiny {
  font-size: 0.8em;
  font-weight: 400;
}

.health {
  margin-left: auto;
  color: #BB091F;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .characters-content, .team-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .character-wrap {
    width: 49%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }
